# === Dependencies ===
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# === Build Output ===
build/
dist/

# === Env Files ===
.env
.env.local
.env.development
.env.production
.env.test

# === Log Files ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# === Editor & OS Specific ===
.vscode/
.idea/
.DS_Store
Thumbs.db
ehthumbs.db

# === Testing ===
coverage/

# === Misc ===
*.pem
*.ppk
*.key
*.crt
*.zip
*.tar
*.gz
*.swp
